<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="text-black" style="background-color:white;">
        <div class="container">
                <div class="jumbotron text-center">
                  <h1 align="center">Mission to Mars</h1>
                  <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
                </div>

        <!--Latest New Section-->
                <div class="container">
                    <h3><b>Latest Mars News</b></h3>
                    <h4>{{mars_data.news_title}}</h4>
                    <p>{{mars_data.news_paragraph}}</p>
                </div>
        
        <!--Featured Image-->

                <div class="container">
                        <div class="row">
                            <!-- Left Image-->
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <h3><b>Featured Mars Image</b></h3>
                                <img src="{{ mars_data.featured_image_url }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
                </div>
        <!--Weather Card-->
        <div class="col-lg-4 col-md-4 col-sm-12">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title" style="color:black">Current Weather on Mars</h4>
                        <p class="card-text" style="color:black">{{ mars_data.mars_weather }}</p>
                    </div>

                </div>
        <!--Table-->
        <br>
        <h3 style="color:black">Mars Facts</h3>
        <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
                        {{ mars_data.mars_facts|safe}}
        </div>
     </div> <!-- col4 -->
 </div><!-- Row -->
</div><!-- Container -->

        <!-- Cards -->
        <h1 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h1>
        <div class="container">
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row">
                    {% for item in mars_data.hemisphere_image_urls %}
                    <div class="col-md-6">
                        <div class="card text-white bg-dark" style="margin: 30px;">
                            <img class="card-img-top" src="{{ item.img_url }}" />
                            <div class="card-body">
                                <strong><p class="card-text">{{ item.title }}</p></strong>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div><!-- Close main container -->




        </div>
    
</body>
</html>